---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout>
    <section class="h-full min-h-0 flex flex-col justify-center items-center py-6 gap-3">
        <p class="split-paraf text-[11px] md:text-[13.5px] lg:text-[15px] max-w-xs md:max-w-xl lg:max-w-3xl text-center">
            So umm, awkward hahaha... yeah.. it's not done yet. Come back later!
        </p>
    </section>
</MainLayout>
