---
import MainLayout from "../layouts/MainLayout.astro";
import ContentLayout from "../layouts/ContentLayout.astro";
import BreadCrumbs from "../components/BreadCrumbs.astro";
import DetectionCard from "../layouts/DetectionCard.astro";
import ChineseCard from "../components/cards/ChineseCard.astro";
---

<MainLayout>
    <ContentLayout>
        <BreadCrumbs current="kevin"/>
        <DetectionCard subject="kevin">
            <ChineseCard
                subject="name"
                character="凯文"
                pinyin="kǎi wén"
                translation="kevin">
                <p class="font-serif text-lg text-[#1a1a1a]/50 leading-relaxed mt-1">that's literally my name in chinese. got it here when studying in china</p>
            </ChineseCard>
        </DetectionCard>
    </ContentLayout>
</MainLayout>