---
import { stackUrls } from "../../data/stacksUrls";
const { name } = Astro.props;
const url = stackUrls[name.toLowerCase()];
---

{url ? (
  <a href={url} target="_blank" class="font-mono text-[14px] border py-0.5 px-2 mx-1 text-accent/80 hover:text-accent tracking-wide transition-colors duration-200"><span>{name}</span></a>
) : (
  <span class="font-mono text-[14px] text-accent tracking-wide">{name}</span>
)}
