---
import '../styles/global.css'
import Background from "../components/Background.astro";
import { ClientRouter } from 'astro:transitions';

globalThis.__detectionCount = 0;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" sizes="128x128" href="/文.png">
		<meta name="generator" content={Astro.generator} />
		<title>jst.kevv place.</title>
		<ClientRouter/>
	</head>
	<body>
		<slot />
		<Background />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
